results/_validation/
results/*/*/*/*/*
!results/**/denoised.*
!results/**/denoised_otutab.txt.gz

results/*/*/_validation/*
!results/*/*/_validation/sample_report.tsv

results/**/ITSx/*
!results/**/ITSx/
!results/**/ITSx/out.positions.txt
!results/**/ITSx/out_no_detections.fasta

results/**/cmp/*
!results/**/cmp/
!results/**/cmp/*.txt

R_example/*
!R_example/example.Rmd
!R_example/example.md

